/* Add application styles & imports to this file! */
.name,
.email,
.phone {
  margin: 1.5rem 0 1.5rem 0;
}

label {
  margin-right: 1.5rem;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.result {
  margin: 2rem;
}

input {
  width: 260px;
  height: 40px;
  font-size: 16px;
  padding: 0.25rem;
  border-radius: 5px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 0.5rem;
  font-size: 16px;
}